body {
	color:rgb(50,50,50);
    font-family: Arial, Helvetica, sans-serif;
}

header {
	text-align: left;
}
nav ul {
	font-size: 1.25em;
	line-height: 2.25em;
	/*font-weight: bold;*/
	list-style-type: none;
}
nav ul li {
	background-color: rgb(27,66,146);
}
nav ul li:hover {
	background-color: rgb(74,110,185);
}
nav ul li a {
	color: rgb(224,224,224);
	color: rgba(255,255,255,0.75);
	text-decoration: none;
}
nav ul li a:hover {
	color: rgb(255,255,255);
}

section h1 {
text-align: right;
font-size: 2em;
letter-spacing: 0.1em;
}

aside h1 {
	font-size: 1.1em;
	font-weight: normal;
	text-align: center;
	line-height: 1.1em;
}
aside figure figcaption {
	line-height: 1em;
	text-align: center;
	font-style: italic;
	font-size: 0.7em;
}

aside li {
	font-size: 0.8em;
	line-height: 1.1em;
	list-style-image: url(trackBullet.png);
}

footer {
text-align: center;
}

footer address {
	font-size: 0.8em;
	font-style: normal;
	font-variant: small-caps;
	letter-spacing: 0.2em;
}


/* Block Styles */
h1, h2, h3, h4, h5, h6 {
}

header h1 {
font-size: 2em;
}

h2 {
font-size: 1.5em;
}

header h2 {
font-size: 1.2em;
font-style: italic;
}

